body {
  font-family: "Arial", sans-serif;
  background-color: #f1f2f6;
}

.consent-header {
  font-family: "Arial", sans-serif;
  font-size: 1.2rem;
}

.consent-content-container {
  font-family: "Arial", sans-serif;
}

.eligibility-text-container {
  background-color: #ffffff;
  border-bottom: 0.5px solid #dddddd;
}

.eligibility-check-container {
  background-color: #ffffff;
}
